.cardContact {
  width: 30%;
  margin: 0 auto;
  padding: 50px;
  color: rgba(193, 136, 69, 1);
  border: 2px solid rgba(193, 136, 69, 1);
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);

  h1 {
    text-align: center;
    margin-top: 0;
  }

  h4 {
    font-size: 18px;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom: 0;
    text-align: center;
  }

  .contact-logo{
    display: flex;
    justify-content: center;

    a {
      color: gainsboro;
      padding: 20px;
      font-size: 26px;
      transition: 0.5s;

      &:hover {
        transform: scale(1.3);
      }
    }
  }
}
