.folio-container {
  .presentation {
    color: gainsboro;
    padding: 5% 0 5% 5%;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }
  }

  .list-projects {
    margin: 0 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px 20px;
    place-content: center;
    place-items: center;
    margin-bottom: 50px;
  }
}

.folio-title {
  position: relative;
}

.folio-title::after {
  content: "";
  position: absolute;
  left: 5%;
  bottom: -2px;
  width: 7%;
  border-bottom: 3px solid rgba(193, 136, 69, 1);
}

// logos

.logo {
  font-size: 30px;
}

.reactLogo {
  color: rgb(62, 62, 255);
}

.scssLogo {
  color: rgb(131, 50, 89);
}

.nodeLogo {
  color: green;
}

.javaScript {
  color: rgb(238, 210, 48);
}
