.technologies-container {
  color: gainsboro;
    padding: 5% 5% 5% 5%;

    h2 {
      font-size: 30px;
    }

    p {
      font-size: 20px;
    }

    .technologies-cadre {
      margin-top: 50px;
      border: 2px solid gainsboro;
      border-radius: 2px;

      .content-cadre {
        height: 420px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        background-color: rgba(0,0,0, 0.5);
      }

      .technologies, .outils {
        height: 420px;
      }

      h3 {
        text-align: center;
      }

      .technologies-display{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
        gap: 30px;
      }

      .logo-display {
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          margin: 0;
          padding-top: 5px;
        }
      }
    }
}

.technologies-title {
  text-decoration: underline rgba(193, 136, 69, 1);
  text-underline-offset: 8px;
}

.expressLogo {
  color: gainsboro;
}

.technologies-display-techno {
  margin-right: 25px;
}
.technologies-display-outils {
  margin-left: 25px;
}

// cadre animation
